.section {
}
.container {
}

.advantages__list__item {
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc((100% - 2 * 30) / 2);
}
.advantages__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f5f4fa;
  border: radius 4px;
  margin-bottom: 30px;
}

.advantages__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 18px;
    text-align: center;
}
.advantages__text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0, 03em;
  color: $mainTextColor;
}
.advantages__list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .advantages__list__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
.advantages__list__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}


// .advantages__list {
//   display: flex;
// }

// .advantages__icon {
//   margin: 25px auto;
//   margin-left: 190px;
// }

// @media screen and (min-width: 768px) {
//     margin-left: 142px;
// }
