.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $titleColor;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.web {
  color: $linkColor;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }

  .contact {
    display: none;
  }

  .burger__button {
    border: none;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }

  .burger__button {
    display: none;
  }

  .nav-list-item {
    color: $titleColor;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .contact-item {
    color: $mainTextColor;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.24px;
  }

  .contact-item:not(last-child) {
    margin-bottom: 10px;
  }

  .contact-link {
    display: flex;
    align-items: center;
  }

  .contact__link__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
    .contact {
        display: flex;
        align-items: center;
    }

    .contact-item:not(last-child) {
        margin-right: 30px;
    }

    .contact-item:not(last-child) {
        margin-bottom: 0;
      }

}
