.header {

}

.logo {
    color:  $titleColor;
    font-weight: 700;
    font-size: 26pc;
    line-height: 1.19;
}

.web {
    color: $linkColor;
}

.burger__button {
    border: none;
    background-color: transparent;
}

@media screen and (min-width: 768px;) {
    .nav-list {
        display: flex;
    }
    
}

.nav-list-item {
    color: #212121;
}